.toast-container{
    position: fixed;
    height: 35px;
    left: 50%;
    bottom: 20px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    z-index: 11800;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    display: none;
    opacity: 0;
    transition: opacity 0.8s;
    &.show{
        display: block;
    }
    &.fadein{
        opacity: 1;
    }
    i {
        margin-right:5px;
    }
}

.toast-msg{
    text-align:center;
    font-weight:normal;
}
