.ks-layout-theme {
  height: 44px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.ks-layout-theme.ks-layout-default {
  background: #efeff4;
}
.ks-layout-theme.ks-layout-dark {
  background: #222426;
}
.ks-layout-theme.ks-layout-white {
  background: #fff;
}
.ks-color-theme {
  height: 44px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-bottom: 10px;
}
